:root{
    --font-size-xl: 80px;
   --font-size-m: 40px;
    --font-size-s: 20px;

    --font-color: azure;
    --background-color: rgb(49, 48, 58);

    --second-color: white;
    --hovered-color: rgb(151, 142, 190);
   

}